<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".WalletAllSub"></activity>
        <activity android:name=".PlanAllSub" />
        <activity android:name=".ReportDaily" />
        <activity android:name=".Report" >

        </activity>
        <activity android:name=".ReportCategory" />
        <activity android:name=".WalletListSubItem" />
        <activity android:name=".ReportMain" />
        <activity android:name=".Navigation">

        </activity>
        <activity android:name=".WithFriendsActivity" />
        <activity android:name=".TravelAddActivity" />
        <activity android:name=".DeleteDialog" />
        <activity android:name=".PlaceSearchItem" />
        <activity android:name=".PlaceSearchItemView" />
        <activity android:name=".PlaceSelectItem" />
        <activity android:name=".PlaceSearchActivity" />
        <activity android:name=".PlaceDetailActivity" />
        <activity android:name=".PlanInitialSubItemView" />
        <activity android:name=".PlanInitialActivity" />
        <activity android:name=".PlanInitialSubItem" />
        <activity android:name=".PlanInputActivity" />
        <activity android:name=".SelectPlaceActivity" />
        <activity android:name=".TravelBudgetShow" />
        <activity android:name=".BudgetInput" />
        <activity android:name=".PlanBudget" />
        <activity android:name=".TravelTitleSet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WalletInput" />
        <activity android:name=".WalletCost" />
        <activity android:name=".WalletMain" />
        <activity android:name=".ProfileModify" />
        <activity android:name=".TravelEstimatedBudget" />
        <activity android:name=".TravelCalendar" />
        <activity android:name=".TravelCalendar2" />
        <activity android:name=".TravelPreferenceSet" />
        <activity android:name=".TravelLodgingSet" />
        <activity android:name=".MainEmpty" />
        <activity android:name=".SignIn" >

        </activity>
        <activity android:name=".SplashActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Profile" />
        <activity android:name=".PlanSearch" />
        <activity android:name=".BudgetShow" />
        <activity android:name=".BudgetSet" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".AirCalendarDatePickerActivity" />
        <activity
            android:name="com.yongbeom.aircalendar.AirCalendarDatePickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>