<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".feature.sign.SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.report.ReportDailyItemView"/>
        <activity android:name=".feature.report.ReportDailyItem" />
        <activity android:name=".feature.wallet.WalletAllSub" />
        <activity android:name=".feature.plan.PlanAllSub" />
        <activity android:name=".feature.report.ReportDaily" />
        <activity android:name=".feature.report.Report" />
        <activity android:name=".feature.report.ReportCategory" />
        <activity android:name=".feature.wallet.WalletListSubItem" />
        <activity android:name=".feature.plan.Navigation" />
        <activity android:name=".feature.plan.friend.WithFriends" />
        <activity android:name=".feature.main.set.TravelAdd" />
        <activity android:name=".feature.main.DeleteDialog" />
        <activity android:name=".feature.plan.place.PlaceSearchItem" />
        <activity android:name=".feature.plan.place.PlaceSearchItemView" />
        <activity android:name=".feature.plan.select.PlaceSelectItem" />
        <activity android:name=".feature.plan.place.PlaceSearch" />
        <activity android:name=".feature.plan.place.PlaceDetail" />
        <activity android:name=".feature.plan.PlanInitialSubItemView" />
        <activity android:name=".feature.plan.PlanInitial" />
        <activity android:name=".feature.plan.PlanInitialSubItem" />
        <activity android:name=".feature.plan.input.PlanInput" />
        <activity android:name=".feature.plan.select.PlaceSelect" />
        <activity android:name=".feature.plan.budget.PlanBudgetInput" />
        <activity android:name=".feature.plan.budget.PlanBudget" />
        <activity android:name=".feature.main.set.TravelTitleSet" />
        <activity android:name=".feature.wallet.cost.WalletCostInput" />
        <activity android:name=".feature.wallet.cost.WalletCost" />
        <activity android:name=".feature.wallet.WalletMain" />
        <activity android:name=".feature.profile.ProfileModify" />
        <activity android:name=".feature.plan.TravelBudgetCalculation" />
        <activity android:name=".feature.SplashActivity" />
        <activity android:name=".feature.sign.Register" />
        <activity android:name=".feature.profile.Profile" />
        <activity android:name=".feature.main.set.TravelBudgetSet" />
        <activity android:name=".feature.main.Main" />
        <activity android:name=".feature.main.set.TravelCalendarSet" />
        <activity
            android:name="com.yongbeom.aircalendar.AirCalendarDatePickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCvnWf43FkeqO5OhkhsuX4V2_qzfZcDB3o" />
    </application>

</manifest>